{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/bulma.min.css' %}" />
    <script src="main.js"></script>
</head>
<body>
    <div class="container">
        <div class="notification">
            
                <section class="hero">
                    <div class="hero-body">
                        <div class="container">
                        <h1 class="title">
                            Fastweb scraper
                        </h1>
                        <h2 class="subtitle">
                            {{response.url}}
                        </h2>
                        </div>
                    </div>
                </section>
             
            
            {% for res in response.offers %}

                <div class="card">
                    <div class="card-content">
                        <div class="content">
                            <b><span class="">{{res.product}}</span></b>
                            <span class="tag is-primary">{{res.hilite}}</span><br/>
                            <span class="">{{res.description}}</span><br/>
                            <button class="button" onclick="window.location.href='{{response.url}}/{{res.menulink}}'" >view offer</button>
                        </div>
                    </div>
                </div>

            {% endfor %}

        </div>
    </div>
</body>
</html>